<div class="footer-bg footer-body">
  <div class="relative p-3 font-bold text-white">
    <h5>Infocargas</h5>
    <p class="address">R. Min. Orozimbo Nonato, 215 - Vila da Serra, Nova Lima - MG - 34000-000</p>
    <p class="phone">Telefone: (31) 3097-1600</p>
    <p class="describe">Atendimento de segunda a sexta, de 9:00hs as 18:00hs</p>

    <div class="flex align-items-center justify-content-center mt-3">
      <div class="flex-row m-3">
        <a href="https://www.instagram.com/infocargas/" target="_blank"><i class="pi pi-instagram text-white text-4xl"></i> </a>
      </div>
      <div class="flex-row m-3">
        <a href="https://www.facebook.com/people/Infocargas/100085622456727/" target="_blank">
          <i class="pi pi-facebook text-white text-4xl"></i>
        </a>
      </div>
      <div class="flex-row m-3">
        <a href="https://www.linkedin.com/in/infocargas-tecnologia-6b1259223/" target="_blank">
          <i class="pi pi-linkedin text-white text-4xl"></i>
        </a>
      </div>
    </div>
  </div>
</div>
