<p-sidebar
  class="panel-menu"
  [showCloseIcon]="false"
  [position]="'center'"
  [style]="{
    background: '#F58220',
    color: 'white',
    border: '0 none',
    margin: '15px',
    width: '142px',
    'border-radius': '33px',
    'box-shadow': '0 1px 3px rgb(0 0 0 / 10%)'
  }"
  [dismissible]="false"
  [(visible)]="visible"
>
  <div class="flex-column justify-content-center" style="text-align: center">
    <div class="logo-menu mb-3"></div>

    <hr />

    <div class="flex-column text-menu" (click)="home()">
      <i class="pi pi-home"></i>
      <p>Início</p>

      <hr />
    </div>

    <div class="flex-column text-menu" *jhiHasAnyAuthority="'ROLE_USER'" (click)="open('')">
      <a href="http://w3schools.com"></a>
      <i class="pi pi-map"></i>
      <p>Divulgar</p>

      <hr />
    </div>

    <div class="flex-column text-menu" *jhiHasAnyAuthority="'ROLE_USER'" (click)="open('conexao')">
      <i class="pi pi-hashtag"></i>
      <p>Conexões</p>
      <hr />
    </div>

    <div class="flex-column text-menu" *jhiHasAnyAuthority="'ROLE_USER'" (click)="open('conexao')">
      <i class="pi pi-hashtag"></i>
      <p>Conexões</p>
      <hr />
    </div>

    <div class="flex-column text-menu" *ngIf="account !== null" (click)="logout()">
      <i class="pi pi-power-off"></i>
      <p>Logout</p>
      <hr />
    </div>

    <div class="flex-column text-menu" *ngIf="account === null" (click)="login()">
      <i class="pi pi-sign-in"></i>
      <p>Entrar</p>
      <hr />
    </div>

    <div class="mb-3">
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary" (click)="showMenu()"></button>
    </div>
  </div>
</p-sidebar>
