<div>
  <h2 id="page-heading" data-cy="PerfilHeading">
    <span>Perfils</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-perfil"
        [routerLink]="['/perfil/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Criar novo Perfil </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters" (filterChange)="navigateToWithComponentValues()"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="perfils?.length === 0">
    <span>Nenhum Perfil encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="perfils && perfils.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>Código</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoConta"><span>Tipo Conta</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cpf"><span>Cpf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cnpj"><span>Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rua"><span>Rua</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero"><span>Numero</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bairro"><span>Bairro</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cidade"><span>Cidade</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado"><span>Estado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cep"><span>Cep</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pais"><span>Pais</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span>Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="razaosocial"><span>Razaosocial</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telefoneComercial"><span>Telefone Comercial</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let perfil of perfils; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/perfil', perfil.id, 'view']">{{ perfil.id }}</a>
          </td>
          <td>{{ perfil.tipoConta }}</td>
          <td>{{ perfil.cpf }}</td>
          <td>{{ perfil.cnpj }}</td>
          <td>{{ perfil.rua }}</td>
          <td>{{ perfil.numero }}</td>
          <td>{{ perfil.bairro }}</td>
          <td>{{ perfil.cidade }}</td>
          <td>{{ perfil.estado }}</td>
          <td>{{ perfil.cep }}</td>
          <td>{{ perfil.pais }}</td>
          <td>{{ perfil.nome }}</td>
          <td>{{ perfil.razaosocial }}</td>
          <td>{{ perfil.telefoneComercial }}</td>
          <td>
            {{ perfil.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/perfil', perfil.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/perfil', perfil.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(perfil)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="perfils && perfils.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
