<div class="p-grid">
  <div class="flex-column m-4">
    <div class="flex justify-content-center">
      <h5>Olá {{ account?.firstName }} {{ account?.lastName }}</h5>
    </div>
  </div>

  <div
    class="flex-grow-1 flex align-items-center justify-content-center font-light p-4 text-white text-4xl px-5 py-3"
    style="background-color: #312e4e"
  >
    Suas Vagas
  </div>

  <div class="card">
    <div class="flex card-container overflow-hidden ml-7 mt-4 mb-4 w-20rem">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus-circle"
        iconPos="right"
        label="Novas Vagas"
        class="p-button-rounded p-button-info"
        [routerLink]="['/portal', 'nova-oferta', 'vagas']"
      ></button>
    </div>
  </div>

  <jhi-grid-ofertas [tipoOferta]="'VAGAS'"></jhi-grid-ofertas>

  <div
    class="flex-grow-1 flex align-items-center justify-content-center font-light p-4 text-white text-4xl px-5 py-3"
    style="background-color: #312e4e"
  >
    Suas Cargas
  </div>

  <div class="card">
    <div class="flex card-container overflow-hidden ml-7 mt-4 mb-4 w-20rem">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus-circle"
        iconPos="right"
        label="Divulgar Cargas"
        class="p-button-rounded p-button-info"
        [routerLink]="['/portal', 'nova-oferta', 'carga']"
      ></button>
    </div>
  </div>

  <jhi-grid-ofertas [tipoOferta]="'CARGA'"></jhi-grid-ofertas>
</div>
