<div
  class="flex-grow-1 flex align-items-center justify-content-center font-light p-5 text-white text-4xl px-5 py-3 mb-3"
  style="background-color: #312e4e"
>
  Divulgar {{ editForm.get('tipoOferta')!.value! === 'VAGAS' ? 'Vaga' : 'Carga' }}
</div>
<div class="d-flex justify-content-center">
  <jhi-alert-error></jhi-alert-error>
  <div class="md:col-12" id="registro-form">
    <form name="editForm" (ngSubmit)="save()" [formGroup]="editForm">
      <div class="flex flex-wrap justify-content-center card-container gap-3">
        <div class="row mb-3" [hidden]="true">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="center-page" [ngSwitch]="activeIndex">
          <h3 class="text-center text-600 mb-3">Preenha todos os dados abaixo</h3>

          <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
            <!--   Status      -->
            <label class="form-center text-600" for="field_status">Status</label>
            <div class="p-inputgroup">
              <p-dropdown
                styleClass="w-full"
                class="p-inputtext-lg"
                panelStyleClass="w-full"
                id="field_status"
                [options]="status"
                formControlName="status"
                placeholder="Selecione"
                name="status"
                optionValue="value"
                optionLabel="name"
                [showClear]="true"
              ></p-dropdown>
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-center text-600" for="field_dataFechamento">Data de Liberação</label>
            <div class="p-inputgroup">
              <p-calendar
                class="p-inputtext-lg"
                styleClass="w-full"
                [dateFormat]="'dd/mm/yy'"
                [hourFormat]="'24'"
                [showTime]="true"
                inputStyleClass="w-25rem"
                formControlName="dataFechamento"
                name="dataFechamento"
                id="field_dataFechamento"
                [showButtonBar]="true"
                inputId="dataFechamento"
              ></p-calendar>
              <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-center text-600" for="field_tipoTransporte">Tipo Transporte</label>
            <div class="p-inputgroup">
              <p-dropdown
                styleClass="w-full"
                class="p-inputtext-lg"
                panelStyleClass="w-full"
                [options]="tiposTransportes"
                formControlName="tipoTransporte"
                placeholder="Selecione"
                name="tipoTransporte"
                id="field_tipoTransporte"
                optionValue="value"
                optionLabel="name"
                [showClear]="true"
              ></p-dropdown>
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            </div>
          </div>

          <!--  QUANTIDADE     -->
          <div class="mb-3">
            <label class="form-center text-600" for="field_quantidade">Quantidade</label>
            <div class="p-inputgroup">
              <p-inputNumber
                class="p-inputtext-lg w-10rem"
                [showButtons]="true"
                inputId="stacked"
                name="quantidade"
                id="field_quantidade"
                formControlName="quantidade"
              >
              </p-inputNumber>
            </div>

            <div *ngIf="editForm.get('quantidade')!.invalid && (editForm.get('quantidade')!.dirty || editForm.get('quantidade')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('quantidade')?.errors?.required"> O campo é obrigatório. </small>
              <small class="form-text text-danger" *ngIf="editForm.get('quantidade')?.errors?.min">
                Este campo deve ser maior que 1.
              </small>
              <small class="form-text text-danger" [hidden]="!editForm.get('quantidade')?.errors?.number">
                Este campo é do tipo numérico.
              </small>
            </div>
          </div>

          <!--   Tipo Carga     -->
          <div class="mb-3">
            <label class="form-center text-600" for="field_tipoCarga">Tipo de Carga</label>
            <div class="p-inputgroup">
              <p-dropdown
                styleClass="w-full"
                class="p-inputtext-lg w-25rem"
                panelStyleClass="w-25rem"
                [options]="tiposCargas"
                formControlName="tipoCarga"
                placeholder="Selecione"
                name="tipoCarga"
                id="field_tipoCarga"
                optionValue="value"
                optionLabel="name"
                [showClear]="true"
              ></p-dropdown>
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            </div>
            <div *ngIf="editForm.get('tipoCarga')!.invalid && (editForm.get('tipoCarga')!.dirty || editForm.get('tipoCarga')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('tipoCarga')?.errors?.required"> O campo é obrigatório. </small>
            </div>
          </div>

          <!--   Localização Origem     -->
          <div class="mb-3">
            <label class="form-center text-600" for="field_localizacaoOrigem">Localizacao Origem</label>

            <div class="p-inputgroup">
              <input
                pInputText
                *ngIf="!editOrigem"
                class="p-inputtext-lg w-10rem"
                [readonly]="true"
                name="origem"
                id="origem"
                formControlName="origem"
              />

              <p-autoComplete
                *ngIf="editOrigem || editForm.controls.id.value === null"
                styleClass="w-full"
                class="p-inputtext-lg w-full"
                inputStyleClass="w-full"
                name="localizacaoOrigem"
                id="field_localizacaoOrigem"
                formControlName="localizacaoOrigem"
                [showEmptyMessage]="true"
                [suggestions]="filteredOrigem"
                (completeMethod)="filtrarOrigem($event)"
                field="description"
                [minLength]="1"
              >
              </p-autoComplete>
              <span *ngIf="editOrigem || editForm.controls.id.value === null" class="p-inputgroup-addon"
                ><i class="pi pi-map-marker"></i
              ></span>
              <span *ngIf="!editOrigem" class="p-inputgroup-addon" (click)="setOrigem()"><i class="pi pi-pencil"></i></span>
            </div>
            <div
              *ngIf="
                editForm.get('localizacaoOrigem')!.invalid &&
                (editForm.get('localizacaoOrigem')!.dirty || editForm.get('localizacaoOrigem')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="editForm.get('localizacaoOrigem')?.errors?.required">
                O campo é obrigatório.
              </small>
            </div>
          </div>

          <!--   Localização Destino     -->
          <div class="mb-3">
            <label class="form-label text-600" for="field_localizacaoDestino">Localizacao Destino</label>
            <div class="p-inputgroup">
              <input
                pInputText
                *ngIf="!editDestino"
                class="p-inputtext-lg w-10rem"
                name="destino"
                [readonly]="true"
                id="destino"
                formControlName="destino"
              />

              <p-autoComplete
                *ngIf="editDestino || editForm.controls.id.value === null"
                styleClass="w-full"
                class="p-inputtext-lg w-full"
                inputStyleClass="w-full"
                name="localizacaoDestino"
                id="field_localizacaoDestino"
                formControlName="localizacaoDestino"
                [showEmptyMessage]="true"
                [suggestions]="filteredDestino"
                (completeMethod)="filtrarOrigem($event, true)"
                field="description"
                [minLength]="1"
              >
              </p-autoComplete>
              <span *ngIf="editDestino || editForm.controls.id.value === null" class="p-inputgroup-addon"
                ><i class="pi pi-map-marker"></i
              ></span>
              <span *ngIf="!editDestino" class="p-inputgroup-addon" (click)="setDestino()"><i class="pi pi-pencil"></i></span>
            </div>
            <div
              *ngIf="
                editForm.get('localizacaoDestino')!.invalid &&
                (editForm.get('localizacaoDestino')!.dirty || editForm.get('localizacaoDestino')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="editForm.get('localizacaoDestino')?.errors?.required">
                O campo é obrigatório.
              </small>
            </div>
          </div>
        </div>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <div class="text-center m-4 gap-3">
        <button
          pButton
          pRipple
          type="button"
          label="Cancelar"
          (click)="previousState()"
          class="p-button-raised p-button-danger w-15rem mb-3"
          data-cy="submit"
        ></button>

        <button
          pButton
          pRipple
          id="save-entity"
          type="submit"
          label="Salvar"
          [disabled]="editForm.invalid || isSaving"
          class="p-button-raised p-button-info w-15rem mb-3"
          data-cy="entityCreateSaveButton"
        ></button>
      </div>
    </form>
  </div>
</div>
