/* ==========================================================================
HOME page styles
========================================================================== */
@import '../../content/scss/colors';

.body-home {
  min-width: 200px;
  background-color: $orange-color;

  .bg-blue-500 {
    background-color: $blue-color !important;
  }

  .border-round {
    border-radius: 10px !important;
  }

  .text-home {
    font-weight: 700;

    font-size: 3rem;

    line-height: 158%;

    text-align: center;
    letter-spacing: -0.5px;

    color: $white-color;
  }

  .text-home-sm {
    font-size: 1.8rem;
  }

  a {
    text-decoration: none;
    font-stretch: expanded;
    color: $white-color;
  }
}

.background-panel {
  background: $orange-color;
}

.background-panel-blue {
  background: $blue-light-color;
}

.describe-home {
  .text-title {
    font-weight: bolder;
    font-size: 2rem;
    line-height: 178%;
    text-align: center;
    letter-spacing: -0.5px;

    color: $blue-color;
  }

  .text-describe {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .img {
    width: 100%;
    height: 392px;
    margin-bottom: 0.5rem;
  }

  .motorista-img {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-image: url('../../content/images/home/motorista_img.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .transportadora-img {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-image: url('../../content/images/home/transportadora-img2.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .embarcador-img {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-image: url('../../content/images/home/embarcador_img.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.full-img {
  min-width: 300px;
  height: 100%;
  width: 180%;
  background-color: #00acf2;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url('../../content/images/home/capa.jpg');
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

@media only screen and (max-width: 768px) {
  .text-3xl {
    font-size: 1.25rem !important;
  }

  .body-home {
    .w-30rem {
      width: 15rem !important;
    }

    .text-home {
      font-weight: 500;

      font-size: 2rem;
    }

    .text-home-sm {
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      font-stretch: expanded;
      color: $white-color;
    }
  }

  .describe-home {
    .text-title {
      font-size: 1.4rem;
    }

    .text-describe {
      font-size: 1rem;
      font-weight: 500;
    }

    .img {
      width: 100%;
      height: 180px;
    }

    .text-600 {
      font-weight: 300;
    }

    .motorista-img {
      width: 100%;
      height: 300px;
      background-size: contain;
      background-image: url('../../content/images/home/motorista_img.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .transportadora-img {
      width: 100%;
      height: 300px;
      background-size: contain;
      background-image: url('../../content/images/home/transportadora-img2.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .embarcador-img {
      width: 100%;
      height: 300px;
      background-size: contain;
      background-image: url('../../content/images/home/embarcador_img.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    background-repeat: no-repeat;
    background-position: center;
  }
}

.banner-login {
  width: 100%;
  height: 480px;
  background-image: url('../../content/images/login/banner_login.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
