/* ==========================================================================
HOME page styles
========================================================================== */
@import '../../content/scss/colors';

.body-home {
  min-width: 300px;
  background-color: $orange-color;

  .bg-blue-500 {
    background-color: $blue-color !important;
  }

  .border-round {
    border-radius: 20px !important;
  }

  .text-home {
    font-weight: 600;

    font-size: 3rem;

    line-height: 128%;

    text-align: center;
    letter-spacing: -0.5px;

    color: $white-color;
  }

  .text-home-sm {
    font-size: 1.8rem;
  }

  a {
    text-decoration: none;
    font-stretch: expanded;
    color: $white-color;
  }
}

.background-panel {
  background: $orange-color;
}

.background-panel-blue {
  background: $blue-light-color;
}

.describe-home {
  .text-title {
    font-weight: bolder;
    font-size: 2rem;
    line-height: 128%;
    text-align: center;
    letter-spacing: -0.5px;

    color: $blue-color;
  }

  .text-describe {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .img {
    width: 100%;
    height: 392px;
    margin-bottom: 1.4rem;
  }

  .driver-img {
    width: 329.62px;
    height: 392.23px;
    background-size: contain;
    background: url('../../content/images/home/driver_img.svg') no-repeat center;
    padding: 2.4rem;
  }

  .shipper-img {
    align-content: center;
    width: 336.83px;
    height: 285.71px;
    background-size: contain;
    background: url('../../content/images/home/shipping_img.svg') no-repeat center;
    padding: 2.4rem;
  }

  .carrier-img {
    width: 389.5px;
    height: 244.04px;
    background-size: contain;
    background: url('../../content/images/home/carrier_img.svg') no-repeat center;
    padding: 2.4rem;
  }
}

.full-img {
  min-width: 300px;
  height: 100%;
  width: 100%;
  background-color: #00acf2;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url('../../content/images/home/capa.jpg');
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

@media only screen and (max-width: 768px) {
  .text-3xl {
    font-size: 1.25rem !important;
  }

  .body-home {
    .w-30rem {
      width: 15rem !important;
    }

    .text-home {
      font-weight: 500;

      font-size: 2rem;
    }

    .text-home-sm {
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      font-stretch: expanded;
      color: $white-color;
    }
  }

  .describe-home {
    .text-title {
      font-size: 1.4rem;
    }

    .text-describe {
      font-size: 1rem;
      font-weight: 500;
    }

    .img {
      width: 100%;
      height: 200px;
    }

    .driver-img {
      width: 100%;
      height: 200px;
      background-size: contain;
      background-image: url('../../content/images/home/driver_img.svg');
    }

    .shipper-img {
      width: 100%;
      height: 200px;
      background-size: contain;
      background-image: url('../../content/images/home/shipping_img.svg');
    }

    background-repeat: no-repeat;
    background-position: center;

    .carrier-img {
      width: 100%;
      height: 200px;
      background-size: contain;
      background-image: url('../../content/images/home/carrier_img.svg');
    }
  }
}
