@import "../panel/panel.component";

.logo-menu{
  background-image: url("~content/images/portal/menu/logo_white.svg");
  height: 54px;
  width: 100%;
  background-size: cover;
}

.panel-menu{
  .p-sidebar {
    background: #F58220;
    color: #495057;
    border: 0 none;
    margin: 15px;
    width: 79px!important;
    border-radius: 33px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  }
}

.text-menu{
  p {
    font-size: 14px;
    color: #312E4E;
  }

  i {
    font-size: 20px;
    margin-bottom: 12px;
  }
}
