<div class="card">
  <div class="m-3">
    <h5>Filtro Status</h5>
    <p-dropdown
      [options]="filter"
      [(ngModel)]="filtroStatus"
      filterBy="name"
      optionLabel="name"
      optionValue="value"
      (onChange)="loadOfertas()"
      placeholder="Selecione um filtro"
      [showClear]="true"
    ></p-dropdown>
  </div>

  <p-table
    [value]="ofertas!"
    [paginator]="true"
    [(first)]="page"
    [loading]="isLoading"
    [pageLinks]="page + 1"
    [rows]="10"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Mostrar {{ page + 1 }} - {{ itemsPerPage }} de {{ totalItems }} ofertas"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Data Liberação</th>
        <th>Tipo Transporte</th>
        <th>Quantidade</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-oferta>
      <tr>
        <td>{{ oferta.dataFechamento | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ getTipoTransport(oferta.tipoTransporte) }}</td>
        <td>{{ oferta.quantidade }}</td>
        <td>{{ oferta.origem }}</td>
        <td>{{ oferta.destino }}</td>
        <td>{{ getStatusOferta(oferta.status) }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            [routerLink]="['/portal', 'oferta', 'edit', oferta.id]"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info"
          ></button>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            [routerLink]="['/portal', 'indicacao', oferta.id]"
            class="p-button-rounded p-button-success"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
